:root{
    --cor-principal: #E32E3F;
    --cor-secundaria: #BE9155;
    --font-color: #333;
    --cor-do-fundo: #C92035;
    --branco: #fff;
    --preto: #000;
    --border-radius: 5px;
    --box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    --font-paragrafos: 'Montserrat', sans-serif;
    --font-titulos: 'Great Vibes', cursive;
    --cor-destque: #e2c106;


}

*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-do-fundo);
}


/* secao menu nav */
nav ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul{
    display: flex; 
    gap: 20px;
}

nav a {
    font-family: var(--font-titulos);
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    background-color: var(--branco);    
    z-index: 1000;
    justify-content: center; 
    align-items: center;   
}

nav .logo img {
    height: 50px; 
    width: 200px;   
}

/* secao  home */

.container-home  h1 {
    font-family: var(--font-titulos);
    color: var(--branco);
    font-size: 48px;
    margin-bottom: 20px;
    
}

.container-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;    
}

.container-home button{
    background-color: var(--cor-secundaria);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: none;
    margin: 10px;
    transition: background-color 0.3s ease;
    box-shadow: var(--box-shadow);
}

.home-texto > p {
    font-family: var(--font-paragrafos);
    color: var(--branco);
    font-size: 25px;
}

.container-home button:hover{
    background-color: var(--cor-destque);
}

.container-home button a{
    text-decoration: none;
    color: var(--branco);
    font-family: var(--font-paragrafos);
    font-size: 18px;
}

  
/* secao sobre nos */
.container-sobrenos{
    background-color: var(--branco);   
    padding: 50px;   
}

.sobrenos-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--preto);
}

.sobrenos-img img{
    max-width: 400px;
    border-radius: var(--border-radius);
    /* box-shadow: var(--box-shadow);     */
}

.sobrenos-img{
    margin-right: 80px;
}


.sobrenos-texto > p {
  flex: 1; /* ocupa o restante do espaço */
  font-family: var(--font-paragrafos);
  padding: 10px;
  text-align: justify; 
}

.sobrenos-texto h2{
    font-family: var(--font-titulos);
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--cor-principal);
    
}

.sobrenos-texto{
   max-width: 500px;
}

/* secao cardapio */
.container-cardapio{
    padding: 50px 20px;
    text-align: center;
    background-color: var(--cor-principal);
}

.container-cardapio h2{
    font-family: var(--font-titulos);
    color: var(--branco);
    font-size: 36px;
    margin-bottom: 40px;
}

.cardapio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.card{
    background-color: var(--cor-secundaria);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s;
}

.card img{
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.card h3 {
  font-family: var(--font-paragrafos);
  font-size: 18px;
  margin: 15px 0;
  color: var(--cinza-escuro);
}

/* secao localizacao */
.localizacao {
  padding: 60px 20px;
  text-align: center;
  background-color: var(--branco);
}

.localizacao h2 {
  font-family: var(--font-titulos);
  font-size: 36px;
  margin-bottom: 20px;
}

.localizacao p {
  font-family: var(--font-paragrafos);
  margin: 15px 0;
  font-weight: bold;
}

.map-container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: var(--cor-secundaria);
}

.map-container iframe {
  border-radius: var(--border-radius);
  margin-top: 10px; 
}

/* secao contato */
.container-ctt > h2{
    font-family: var(--font-titulos);
    color: var(--branco);
    font-size: 36px;
    margin: 40px 0 20px 0;
}

.container-ctt{
   text-align: center;
   padding: 40px 20px;    
}

.subtitulo-ctt {
  font-family: var(--font-paragrafos);
  margin-bottom: 30px;
  color: var(--branco);
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  flex-wrap: wrap; 
}

.perfil img {
  width: 120px;
  height: 120px;
  border-radius: 50%; 
  object-fit: cover;
}

.links-contato img {
  width: 26px; /* ajusta tamanho dos ícones */
  height: 26px;
}

.links-contato ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-contato li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
  margin: 10px 0;
  transition: transform 0.3s ease;
}

.links-contato li:hover {
  transform: scale(1.05); /* aumenta 5% */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* dá profundidade */
}

.links-contato a {
  text-decoration: none;
  font-family: var(--font-paragrafos);
  font-size: 18px;
  color: var(--branco);
  transition: color 0.3s;
}

.links-contato a:hover {
  color: var(--cor-destque);
}

/* secao footer */
.footer{
    background-color: var(--branco);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid var(--cor-principal);
}

.footer h3{
    font-family: var(--font-paragrafos);
    color: var(--cor-principal);
    font-size: 24px;
    margin-bottom: 10px;
    color:  var(--cor-principal);
}

.footer ul {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #c94f7c;
}

.footer p {
  font-size: 14px;
  color: #666;
}
