:root{
    --cor-principal: #E32E3F;
    --cor-secundaria: #BE9155;
    --font-color: #333;
    --cor-do-fundo: #C92035;
    --branco: #fff;
    --preto: #000;
    --border-radius: 5px;
    --box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    --font-paragrafos: 'Montserrat', sans-serif;
    --font-titulos: 'Great Vibes', cursive;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-do-fundo);
    scroll-behavior: smooth;
}

/* Fonte especial para títulos e logo */
h1{
    font-family: 'Great Vibes', cursive;
    color: var(--branco);
    font-size: 50px;
}

/* secao menu nav */
nav ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul{
    display: flex; /* deixa os itens em linha */
    gap: 20px;
}

nav a {
    font-family: var(--font-titulos);
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 25px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* ocupar toda a largura */
    display: flex;
    background-color: var(--branco);    
    padding: 10px 20px;
    z-index: 1000; /* garante que fique acima do conteúdo */
    justify-content: space-around; /* logo à esquerda, menu à direita */
    align-items: center;   
}

nav .logo img {
    height: 50px; 
    width: 200px;
    
}

main{
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px; /* depende da altura do nav */
}

main > p{    
    font-family: var(--font-paragrafos);
    color: var(--branco);
    font-size: 18px;
    line-height: 1.0;  
}

/* secao imagem home */
.hero{
    height: 70vh;    
    width: 600px;
    background-image: url('/img/ninho-bolo-cima.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--branco);
    padding: 20px;   
}

.hero-text {
    background: rgba(0,0,0,0.5); /* fundo escuro transparente para dar contraste */
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;    
}

.hero-text > p{
    font-family: var(--font-paragrafos);
  }

.full-screen-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;   /* mantém a proporção, corta só o excesso */
    object-position: center; /* centraliza o corte */
}
  
/* secao sobre nos */
.container-sobrenos{
    background-color: var(--cor-secundaria);
    color: var(--preto);
    padding: 50px;
    /* margin: 20px; */
}

.sobrenos-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sobrenos-img img{
    max-width: 400px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);    
}

.sobrenos-img{
    margin-right: 80px;
}


.sobrenos-texto > p {
  flex: 1; /* ocupa o restante do espaço */
  font-family: var(--font-paragrafos);
  padding: 10px;
  text-align: justify; /* se gostar mais organizado */
}

.sobrenos-texto h2{
    font-family: var(--font-titulos);
    font-size: 36px;
    margin-bottom: 20px;
    
}

.sobrenos-texto{
   max-width: 500px;
}

.container-cardapio{
    padding: 50px 20px;
    text-align: center;
    background-color: var(--cor-principal);
}

.container-cardapio h2{
    font-family: var(--font-titulos);
    color: var(--branco);
    font-size: 36px;
    margin-bottom: 40px;
}

.cardapio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.card{
    background-color: var(--cor-secundaria);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s;
}

.card img{
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.card h3 {
  font-family: var(--font-paragrafos);
  font-size: 18px;
  margin: 15px 0;
  color: var(--cinza-escuro);
}

.localizacao {
  padding: 60px 20px;
  text-align: center;
  background-color: var(--branco);
}

.localizacao h2 {
  font-family: var(--font-titulos);
  font-size: 36px;
  margin-bottom: 20px;
}

.localizacao p {
  font-family: var(--font-paragrafos);
  margin-bottom: 30px;
  font-weight: bold;
}

.map-container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: var(--cor-secundaria);
}
